:root {
  --background-hulk: #1d2b38;
  --backgroun-especial: #1a2631;

  --titulo: #d7d7d7;
  --subtitulo: #8e8d8d;

  --butao: #294862;
  --butao-hover: #3f6b8f;

  --focus-input: #2c4961;
}

.container {
  overflow: hidden;
}

.kids {
  margin-top: 16px;
  margin-bottom: 25px;
  padding: 0rem 1rem;
  color: var(--subtitulo);
  font-weight: 400;
  font-size: 12px;
}

.beneficios {
  margin-bottom: 281px;
}
